$size: 80px;
$translate: calc($size / 2);

.box {
  transform-style: preserve-3d;
  width: $size;
  height: $size;
  
  &.bg-green {
    div {
      background: linear-gradient(45deg, rgba(58,180,120,1) 0%, rgba(95,253,29,1) 50%, rgb(255, 228, 190) 100%);
    }
  }

  &.bg-orange {
    div {
      background: linear-gradient(45deg, rgb(255, 251, 210) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    }
  }

  &.bg-purple {
    div {
      background: linear-gradient(45deg, rgb(193, 208, 255) 0%, rgba(166,29,253,1) 50%, rgba(252,69,69,1) 100%);
    }
  }  

  
  div {
    position: absolute;
    backface-visibility: inherit;
    opacity: 0.8;
    width: $size;
    height: $size;
    border: 1px solid #333;
  }

  div:nth-child(1) {
    transform: translateZ(calc($size / 2));
  }
  //back
  div:nth-child(2) {
    transform: rotateY(180deg) translateZ($translate);
  }
  //top
  div:nth-child(3) {
    transform: rotateY(-90deg) rotateX(90deg) translateZ($translate);
  }
  //bottom
  div:nth-child(4) {
    transform: rotateX(-90deg) translateZ($translate);
  }
  //left
  div:nth-child(5) {
    transform: rotateY(-90deg) translateZ($translate);
  }
  //right
  div:nth-child(6) {
    transform: rotateX(270deg) rotateY(90deg) translateZ($translate);
  }
}